/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}

.content-container {
  padding: 80px 20px 20px;
  height: 100%;
  box-sizing: border-box;
  background-color: #FCFCFC;
}

.content {
  height: 100%;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  align-self: flex-end;
  padding: 20px 10px 10px;
}

.form {
  padding: 20px 10px 10px;
}

.full-width {
  width: 100%;
}

.ml-4 {
  margin-left: 4px;
}

.mt-4 {
  margin-top: 4px;
}
